.topBarContent{
    padding-bottom: 10px;
    padding-top: 50px;
}
.topBarContent h1{
    font-size: 30px;
}
.topBarContent ul{
    margin-top: 5px !important;
}

.thumbnail1:hover .thumbnail1-desc {
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}